DATABASE_URL="postgresql://USER:PASSWORD@EP-NAME-pooler.REGION.aws.neon.tech/neondb?sslmode=require"
DIRECT_DATABASE_URL="postgresql://USER:PASSWORD@EP-NAME.REGION.aws.neon.tech/neondb?sslmode=require"
